<app-die-roller
  side-count="4"
  (die-rolled)="dieRolled($event)"
>
</app-die-roller>
<br>
<app-die-roller
  side-count="6"
  (die-rolled)="dieRolled($event)"
>
</app-die-roller>
<br>
<app-die-roller
  side-count="10"
  (die-rolled)="dieRolled($event)"
>
</app-die-roller>
<br>
<app-die-roller
  side-count="12"
  (die-rolled)="dieRolled($event)"
>
</app-die-roller>
<br>
<app-die-roller
  side-count="20"
  (die-rolled)="dieRolled($event)"
>
</app-die-roller>
<br>
<app-die-roller
  side-count="100"
  (die-rolled)="dieRolled($event)"
>
</app-die-roller>
<br>
<app-roll-history></app-roll-history>